/* INITIAL SETTINGS */

*{margin:0;padding:0;font-family:arial;}
a{text-decoration:none;}
li{list-style:none;float:left;}
html{scroll-behavior:smooth;}
body{
    display:grid;
    grid-template-areas:"header header" "slide slide" "container container" "footer footer";
    grid-template-rows:15vh 85vh 1fr 20vh;
    grid-template-columns:1fr;
}
#margin{margin:0 auto;width:80%;}
#left{float:left;}
#right{float:right;}

#header, #slide, #container, #footer, .arrow{
    display:grid;
    align-items:center;
}

/* HEADER */

#header{
    grid-area:header;
}

#header #left{
    width:10%;
}

    /* Title */

    #header .title{
        margin:25% 0;
    }
    #header .title h1{
        text-transform:uppercase;
        font-size:40px;
        color:#000;
    }

    /* Menu */

        .menu{
            display:none;
        }
        .menu ul li{
            text-transform:uppercase;
            font-size:15px;
        }

        .menu ul li a{
            display:block;
            padding:15px 0;
            margin-right:20px;
            color:#000;
        }

        /* Area */

            .area{
                margin:25% 0;
            }
            .area button{
                border:none;
                background:none;
                outline:none;
            }
            .area button a{
                display:block;
                width:150px;
                line-height:50px;
                border:2px solid #00CC8F;
                border-radius:10px;
                color:#00CC8F;
                font-size:15px;
                font-weight:bold;
                text-transform:uppercase;
                transition:all,ease-in-out,0.5s;
                box-shadow:10px 10px 50px rgb(0,0,0,0.1);
            }
            .area button a:hover{
                background:#00CC8F;
                box-shadow:0 0 0;
                color:#fff;
            }

/* SLIDER */

#slide{
    grid-area:slide;
    background-color:#003324;
    background-image:url("/src/img/graduation.jpg");
    background-blend-mode:multiply;
    background-position:center;
    flex-wrap:wrap;
}

    /* Text */

    #slide .text{
        float:left;
        width:70%;
    }

    #slide .text h1{
        font-size:55px;
        color:#fff;
        text-transform:uppercase;
    }

    #slide .text h1 span{
        font-weight:normal;
        font-style:italic;
    }

        /* Button */

            #slide .button{
                margin:20px 0;
            }

            #slide .button button{
                background:none;
                border:none;
                height:50px;
                text-transform:uppercase;
                font-size:15px;
                font-weight:bold;
                outline:none;
            }
            #slide .button button a{
                display:block;
                background:#00FFB2;
                line-height:50px;
                border-radius:10px;
                width:200px;
                color:#00996B;
                transition:all,linear,0.5s;
                animation:button 1.7s ease-in-out infinite;
            }
            @keyframes button{
                0%{
                    color:#003324;
                }
                50%{
                    color:#00996B;
                }
                100%{
                    color:#003324;
                }
            }

/* HOME */

#container .title{
    text-align:center;
}

#container .title h1{
    font-size:40px;
    color:#000;
}

    /* Page */
    
    .page{
        margin:20px 0;
    }
    
    /* Page Depositions */
    
    #{
        display:flex;
        grid-template-columns:1fr 1fr 1fr;
    }

    /* Page Galery */

        .galery{
            display:grid;
            grid-template-columns:2fr 1fr 1fr;
            grid-gap:20px;
        }
        .galery div{
            width:100%;
            height:100%;
        }
        .galery div img{
            width:100%;
            height:100%;
            object-fit:cover;
        }

    /* Page Work with us*/

        #formulario{
            align-items: center;
            text-align: center;
        }
        
        .title{
            text-transform: uppercase;
        }
        

        .formtrabalho{
            width: 110vh;
            height: 50vh;
            background-color:#e3e3e3;
            position: normal;
            padding: 10px;
            border-radius: 6px;
        }

        .homeparagraph{
            margin-bottom: 5px;
            margin-right: 10px;
            font-size: 17px;
            font-weight: 300;
        }

        .nomepessoa, .emailpessoa, .ceppessoa, .ddd, .telefonepessoa, .profissaopessoa, .funcaopessoa{
            margin-bottom: 15px;
            padding-left: 5px;
        }

        #container .inputs{
            display:grid;
            grid-template-columns:1fr 1fr;
            grid-gap:10px;
        }

        #container input[type=text], #container input[type=email]{
            width:100%;
            border:none;
            background:none;
            border-bottom:2px solid #ddd;
            outline:none;
            height:50px;
            font-size:15px;
        }

        .allspans{
            color: red;
        }

    /* Logo */

    .logo{
        float:right;
        width:150px;
        height:150px;
        position:relative;
    }
    .logo img{
        width:100%;
        height:100%;
        position:absolute;
    }

/* CONTAINER */

#container{
    background:#f9f9f9;
    flex-flow:column;
    grid-area:container;
}

/* FOOTER */

#footer{
    grid-area:footer;
}

    /* Text */

    .text{
        align-content: center;
    }